/* font links */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

/* common css start */
:root {
    --pop: "Poppins", sans-serif;
    --rob: "Roboto", sans-serif;
    --bggreen: #F0FFF0;
    --black: #000000;
    --green: #21B573;
    --orange: #FD511A;
}

body {
    font-family: var(--pop);
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

/* common css end */
/* header start */
header {
    background-color: var(--bggreen);
}

.c_nav {}

.c_logo_img {}

.c_menu {}

.c_menu ul li a {
    padding-right: 30px !important;
    color: var(--black);
}

.c_menu ul li a:hover {
    color: var(--orange);
}

.cmn_btn {
    padding: 12px 36px;
    color: white;
    background-color: var(--green);
    border-radius: 33px;
}

.c_nav_btn {
    padding: 12px 28px;
    border-radius: 33px;
    color: white;
}

.c_nav_btn:hover {
    background-color: var(--orange);
    color: white;
}

.c_nav_btn:active {
    background-color: var(--orange) !important;
    color: white !important;
}

/* header end */
/* banner start */
.banner {
    padding-bottom: 65px;
    background-color: var(--bggreen);
}

.banner_text {}

.banner_p1 {
    color: var(--orange);

}

.banner_h1 {
    margin: 10px 100px 20px 0 !important;
    font-family: var(--pop);
    font-size: 48px;
    font-weight: 700;
    color: var(--black);
    line-height: 70px;
}

.banner_h1 span {
    color: var(--green);
}

.banner_p2 {
    margin-bottom: 15px !important;
    line-height: 36px;
}

.c_banner_btn {}

.c_banner_btn:hover {
    background-color: var(--orange);
    color: white;
}

.c_banner_btn:active {
    background-color: var(--orange) !important;
    color: white !important;
}

.banner_img {}

/* banner end */
/* feature start */
.feature {
    padding-bottom: 100px;
}

.f_content {
    margin-top: 40px;
    padding: 55px 0 50px;
    background-color: var(--bggreen);
    border-radius: 10px;
    transition: .33s linear;
}

.f_img {}

.f_img img {
    width: 65px;
    height: 85px;
}

.f_img h2 {
    margin-top: 22px;
    font-weight: 500;
    font-size: 24px;
}

.f_img p {
    margin: 0;
}

.f_content:hover {
    background-color: white;
    box-shadow: 0px 20px 40px 0px #0000001A;
}

/* feature end */
/* course start  */
.course {
    padding-bottom: 80px;
}

.course_h1 {
    font-weight: 700;
    font-size: 36px;
}

.course_content {
    padding: 25px 20px 30px;
    margin-top: 60px;
    box-shadow: 0px 10px 40px 0px #0000001A;
}

.course_img {}

.course_img img {
    border-radius: 10px;
}

.course_h2 {
    margin: 20px 0 3px;
    font-weight: 500;
    font-size: 24px;
}

.course_div {}

.course_btn {
    margin: 20px 0 35px;
}

.course_btn:hover {
    background-color: var(--orange);
    color: white;
}

.course_btn:active {
    background-color: var(--orange) !important;
    color: white !important;
}

.course_footer {}

.course_left {}

.lii:not(:last-child) {
    margin-right: 2px;
}

.course_f_left_img {}

.course_f_left_span {}

.course_right {}

.course_f_right_img {}

.course_f_right_span {}

/* course end  */
/* testimonial start  */
.testimonial{
    padding-bottom: 80px;
}
.testimonial_h1 {
    font-weight: 700;
    font-size: 36px;
}
.t_content{
    margin-top: 60px;
}
.t_img img{}
.t_text{}

/* testimonial end  */
/* footer top start  */
.footer_top{
    padding: 60px 0;
    background-color: #282531;
}
.ft_text{
    padding-right: 120px;
}
.ft_text p{
    color: white;
    line-height: 30px;
}
.ft_box{}
.last_ft_box{}
.ft_h2{
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 30px;
}
.ft_ul li a{
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

/* footer top end  */
/* footer start  */
.footer{
    padding-bottom: 30px;
    background-color: #282531;
}
.footer p{
    color: white;
}
.footer p a{
    color: white;
    text-decoration: none;
}

/* footer end  */